<!-- 導覽列 -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" routerLink="/home"><i class="bi bi-graph-up-arrow"></i> SynapseX</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">首頁</a>
                </li>
                <li class="nav-item dropdown" routerLinkActive="active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarBacktestDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        策略回測
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarBacktestDropdown">
                        <li><a class="dropdown-item" routerLink="/backtest" >市場資訊</a></li>
                        <li><a class="dropdown-item" routerLink="/backtest" >策略回測</a></li>
                    </ul>
                    
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home" fragment="team">專業團隊</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home" fragment="contact">聯絡我們</a>
                </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#login">登入</a>
                </li>
            </ul>
        </div>
    </div>

</nav>

<div>

</div>