<div class="model-card" *ngIf="model">
    <div class="model-card-header">
        <!-- <img [src]="model.imageUrl" [alt]="model.name" class="model-image"> -->
        <div class="model-top-area">
            
        </div>
        <div class="model-card-header-overlay">
            <h4 class="model-name">{{ model.name }}</h4>
        </div>
    </div>
    <div class="model-card-body">
        <p class="model-description">{{ model.description }}</p>
        <hr>
        <h6 class="kpi-title">關鍵績效指標 (KPIs)</h6>
        <ul class="kpi-list">
            <li *ngFor="let kpi of model.kpis">
                <i [class]="'bi ' + kpi.icon"></i>
                <strong>{{ kpi.label }}:</strong>
                <span>{{ kpi.value }}</span>
            </li>
        </ul>
    </div>
    <div class="model-card-footer">
        <a class="btn btn-outline-primary w-100" routerLink="/Chart">查看詳細回測</a>
    </div>
</div>